.user-cabinet-header {
	font-size: 22px;
}

.site-title {
	font-size: 24px;
    margin: 0;
}

.site-header {
	border-bottom: 1px solid #26a69a;
    padding: 40px;
}

.modal-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    z-index: 2;
}

.modal-project {
    width: 250px;
    /* height: 320px; */
	border: 1px solid #26a69a;
	border-radius: 15px;
	box-shadow: 1px 1px 10px #1d1d1d;
    padding: 10px;
    background: #fff;   
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
}

.btn-floating.btn-large {
    width: 40px;
    height: 40px;
}
.modal-project-close {
    position: absolute;
    right: -19px;
    top: -19px;
}

.btn-floating.btn-large i {
    line-height: 40px;
}

.form-slider {
    width: 700px;
    height: 340px;
    /*background: bisque;*/
    margin-left: 0;
    transition: all ease 1s;
}

.left-50, .right-50 {
    width: 50%;
    float: left;
    /*background: red;*/
    min-height: 50px;
    padding: 10px;
}

.right-50 {
    /*background: green;*/
    min-height: 50px;
    max-height: 430px;
    overflow-y: scroll;
}

.read-rule,
.read-rule-back {
    cursor: pointer;
}

.sign-up-modal {
    width: 370px;
}

.form-slider-wrapper {
    overflow: hidden;
}
